

.list_element div{
    margin-left: 15px;
}

.list_element div .edit-task{
    margin-left: 5px;
}

.list_element div .delete-task{
    margin-left: 5px;
}

#editTaskName{
    font-weight: bold;
}

.add_button{
    margin-top: 15px;
    margin-bottom: 15px;
}